## mako

<%page expression_filter="h"/>

<%! import json %>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />

<%!
from django.core.urlresolvers import reverse
from opaque_keys.edx.keys import CourseKey, UsageKey
from courseware.url_helpers import get_redirect_url
%>

<link href="${static.url('css/bootstrap.css')}" rel="stylesheet">
<link href="${static.url('css/custom_dashboard.css')}" rel="stylesheet">
<div class="container custom-dashbaord">
    <div class="login-signup">
        <div class="row">
            <div class="col-sm-12 nav-tab-holder">
                <ul class="nav nav-tabs row" role="tablist">
                    <!-- <li role="presentation" style="opacity: 0; cursor: pointer;" class="non-active col-sm-6 upcomingAssignmentsTabClick"><a href="javascript:void(0);" style="cursor: pointer;" aria-controls="home" role="tab" data-toggle="tab">Upcoming Assignment</a></li> -->
                    <li role="presentation" class="active col-sm-12 submittedAssignmentsTabClick"><a href="javascript:void(0);" aria-controls="profile" role="tab" data-toggle="tab">Graded Assignments</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane submittedAssignmentsTab active" id="profile">
                <div class="row">
                    <div class="col-sm-12 mobile-pull">
                        <article role="login">
                            <div class="row">
                                <div class="col-sm-4 Coursebox">
                                    <h4>Courses</h4>
                                    <ul>
                                        % if submittedCoursesList:
                                            % for courseId ,courseName in submittedCoursesList.iteritems():
                                                <li><div style="background-color:${submittedAssignmentListColors[courseId]};" class="red1"></div><div id="${courseId}">${courseName}</div></li>
                                            % endfor
                                        % endif
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    % for assignmentsData in submitted_assignments:
                                        <div class="box" style="border-left:10px solid ${submittedAssignmentListColors[assignmentsData.assignment.course_id]};">
                                            <div class="row">
                                                <%
                                                    temp_usage_key = UsageKey.from_string(assignmentsData.assignment.assignment_id)
                                                    temp_course_key = CourseKey.from_string(assignmentsData.assignment.course_id)
                                                %>
                                                <div class="col-sm-6 assignmentBlockClick" rel="${get_redirect_url(temp_course_key, temp_usage_key)}">
                                                    <h4>${assignmentsData.assignment.name[assignmentsData.assignment.name.index('(')+1:assignmentsData.assignment.name.index(')')]}</h4> 
                                                    <h5>${submittedCoursesList[assignmentsData.assignment.course_id]}</h5>
                                                </div><!--div-->
                                                <div class="col-sm-6">
                                                    <div class="view viewFeedback" data-assignmentid="${assignmentsData.assignment.id}">
                                                        <p href="javascript:void(0)">View Feedback</p>
                                                    </div>
                                                </div><!--div-->
                                            </div><!--row-->
                                        </div><!--box-->
                                    % endfor
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- end of row -->
            </div>
        </div>
    </div>
    <div id="feeback_modal" class="modal feeback_modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="container-fluid feeback_modal_header">
                    </div><!--container-fluid ends here-->
                </div>

                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="learningrow learningcell">Learning Outcome</th>
                                    <th class="learningrow"></th>
                                    <th class="learningrow"></th>
                                    <th class="learningrow"></th>
                                    <th class="learningrow">Level Score</th>
                                    <th class="learningrow"></th>
                                    <th class="learningrow"></th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th class="learningrow1 learningcell1"></th>
                                    <th class="learningrow1">0</th>
                                    <th class="learningrow1">1 - Beginning</th>
                                    <th class="learningrow1">2 - Developing</th>
                                    <th class="learningrow1">3 - Approaching</th>
                                    <th class="learningrow1">4 - Proficient</th>
                                    <th class="learningrow1">5 - Exemplary</th>
                                </tr>
                            </thead>
                            <tbody class="feeback_modal_table_body">
                            </tbody>
                        </table>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 feeback_modal_comments">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${static.url('js/bootstrap.min.js')}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // $('.upcomingAssignmentsTabClick').on('click', function(){
        //     console.log("upcomingAssignmentsTabClick");
        //     var _this = $(this);
        //     _this.removeClass('non-active').addClass('active');
        //     $('.submittedAssignmentsTabClick').removeClass('active').addClass('non-active');
        //     $('.submittedAssignmentsTab').removeClass('active');
        //     $('.upcomingAssignmentsTab').addClass('active');
        // });
        $('.submittedAssignmentsTabClick').on('click', function(){
            console.log("submittedAssignmentsTabClick");
            var _this = $(this);
            _this.removeClass('non-active').addClass('active');
            $('.upcomingAssignmentsTabClick').removeClass('active').addClass('non-active');
            $('.upcomingAssignmentsTab').removeClass('active');
            $('.submittedAssignmentsTab').addClass('active');
        });
        $('.assignmentBlockClick').on('click', function(){
            console.log('assignmentBlockClick');
            var _this = $(this);
            location.href = _this.attr('rel');
        });

        $('.viewFeedback').on('click', function(e){
            e.preventDefault();
            var _this = $(this)
            console.log(_this.data('assignmentid'), "=assignemntid");
            var assignmentid = _this.data('assignmentid');
            if (!isNaN(assignmentid)){
                $.ajax({
                    url : '/studentfeedback',
                    method : 'POST',
                    headers: {
                      'X-CSRFToken': $.cookie('csrftoken')
                    },
                    dataType: 'json',
                    data : {
                        'assignmentid': assignmentid
                    },
                    // beforeSend:function(){
                    //     $('.loader-overlay').removeClass('dnone');
                    // },
                    success : function(response){
                        // $('.loader-overlay').addClass('dnone');
                        // console.log(response,'===responsesuccss====');
                        var feedbackComments_html = '\
                                                        <h5>Learning Outcome Comments:</h5>\
                                                        <hr>\
                                                    '
                        var feedbackComments_flag = false;
                        var rubric_html = ''
                        if (response.assignment_lo_rubric.length > 0){
                            for (learingOutcome in response.assignment_lo_rubric){
                                var lo_score_0 = "";
                                var lo_score_1 = "";
                                var lo_score_2 = "";
                                var lo_score_3 = "";
                                var lo_score_4 = "";
                                var lo_score_5 = "";
                                console.log(lo_score_0, lo_score_1, lo_score_2, lo_score_3, lo_score_4, lo_score_5,'===');
                                if(response.assignment_lo_rubric[learingOutcome].slc_score == 1){
                                    lo_score_1 = 'extra';
                                }else if(response.assignment_lo_rubric[learingOutcome].slc_score == 2){
                                    lo_score_2 = 'extra';
                                }else if(response.assignment_lo_rubric[learingOutcome].slc_score == 3){
                                    lo_score_3 = 'extra';
                                }else if(response.assignment_lo_rubric[learingOutcome].slc_score == 4){
                                    lo_score_4 = 'extra';
                                }else if(response.assignment_lo_rubric[learingOutcome].slc_score == 5){
                                    lo_score_5 = 'extra';
                                }else if(response.assignment_lo_rubric[learingOutcome].slc_score == 0){
                                    lo_score_0 = 'extra';
                                }
                                console.log(lo_score_0, lo_score_1, lo_score_2, lo_score_3, lo_score_4, lo_score_5);
                                console.log(response.assignment_lo_rubric[learingOutcome].slc_score,'===score===');
                                rubric_html += '\
                                    <tr data-toggle="collapse" data-target=".order1">\
                                        <td class="learningcell">'+response.assignment_lo_rubric[learingOutcome].lc_description+'</td>\
                                        <td style="width: 25px;" class="'+lo_score_0+'"></td>\
                                        <td class="modal-table-content '+lo_score_1+'">'+response.assignment_lo_rubric[learingOutcome].lc_level_one_description+'</td>\
                                        <td class="modal-table-content '+lo_score_2+'">'+response.assignment_lo_rubric[learingOutcome].lc_level_two_description+'</td>\
                                        <td class="modal-table-content '+lo_score_3+'">'+response.assignment_lo_rubric[learingOutcome].lc_level_three_description+'</td>\
                                        <td class="modal-table-content '+lo_score_4+'">'+response.assignment_lo_rubric[learingOutcome].lc_level_four_description+'</td>\
                                        <td class="modal-table-content '+lo_score_5+'">'+response.assignment_lo_rubric[learingOutcome].lc_level_five_description+'</td>\
                                    </tr>\
                                '
                                if (response.assignment_lo_rubric[learingOutcome].slc_comment != null && response.assignment_lo_rubric[learingOutcome].slc_comment.length > 0){
                                    feedbackComments_flag = true;
                                    feedbackComments_html += '\
                                                                <p>'+response.assignment_lo_rubric[learingOutcome].lc_description+'</p>\
                                                                <p>'+response.assignment_lo_rubric[learingOutcome].slc_comment+'</p>\
                                                                <hr>\
                                                            '
                                }
                            }
                            var feedbackHeader_html = '\
                                                        <div class="row">\
                                                            <div class="col-md-12">\
                                                                <h4>'+response.assignmentsData.assignment_name+'</h4>\
                                                                <h4>'+response.assignmentsData.course_name+'</h4>\
                                                                <hr style="border-top: 2px solid #3E89E3;">\
                                                        '
                            if(response.assignmentsData.overall_feedback){
                                feedbackHeader_html += '\
                                                                    <h5>Overall Feedback</h5>\
                                                                    <p>'+response.assignmentsData.overall_feedback+'</p>\
                                                        '
                            }

                            feedbackHeader_html += '\
                                                            </div>\
                                                        </div>\
                                                    '
                            if (!feedbackComments_flag){
                                feedbackComments_html = ''
                            }
                            
                            $('.feeback_modal_header').html(feedbackHeader_html);
                            $('.feeback_modal_table_body').html(rubric_html);
                            $('.feeback_modal_comments').html(feedbackComments_html);
                            $('#feeback_modal').modal('show');
                        }
                        
                    },
                    error : function(response){
                        console.log(response,'===responseerror====');
                    }
                });
            }
        });
    })
</script>