## mako

<%page expression_filter="h"/>

<%! import json %>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />

<%!
from django.core.urlresolvers import reverse
from opaque_keys.edx.keys import CourseKey, UsageKey
from courseware.url_helpers import get_redirect_url
%>

<link href="${static.url('css/bootstrap.css')}" rel="stylesheet">
<link href="${static.url('css/custom_dashboard.css')}" rel="stylesheet">
<div class="container custom-dashbaord">
    <div class="login-signup">
        <div class="row">
            <div class="col-sm-12 nav-tab-holder">
                <ul class="nav nav-tabs row" role="tablist">
                    <li role="presentation" style="display: none;" class="non-active col-sm-6 upcomingAssignmentsTabClick"><a href="javascript:void(0);" aria-controls="home" role="tab" data-toggle="tab">Upcoming Assignment</a></li>
                    <li role="presentation" class="active col-sm-6 submittedAssignmentsTabClick"><a href="javascript:void(0);" aria-controls="profile" role="tab" data-toggle="tab">Submitted Assignment</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane submittedAssignmentsTab" id="profile">
                <div class="row">
                    <div class="col-sm-12 mobile-pull">
                        <article role="login">
                            <div class="row">
                                <div class="col-sm-4 Coursebox">
                                    <h4>Courses</h4>
                                    <ul>
                                        % if submittedCoursesList:
                                            % for courseId ,courseName in submittedCoursesList.iteritems():
                                                <li><div class="${submittedAssignmentListColors[courseId]}1"></div><div id="${courseId}">${courseName}</div></li>
                                            % endfor
                                        % endif
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    % for assignmentsData in submitted_assignments:
                                        <div class="box ${submittedAssignmentListColors[assignmentsData.assignment.course_id]}">
                                            <div class="row">
                                                <%
                                                    temp_usage_key = UsageKey.from_string(assignmentsData.assignment.assignment_id)
                                                    temp_course_key = CourseKey.from_string(assignmentsData.assignment.course_id)
                                                %>
                                                <div class="col-sm-6 assignmentBlockClick" rel="${get_redirect_url(temp_course_key, temp_usage_key)}">
                                                    <h6>${assignmentsData.assignment.name[assignmentsData.assignment.name.index('(')+1:assignmentsData.assignment.name.index(')')]}</h6> 
                                                    <p>${"".join(e[0] for e in submittedCoursesList[assignmentsData.assignment.course_id].split())}</p>
                                                </div><!--div-->
                                                <div class="col-sm-6">
                                                    <div class="view"><a href="javascript:void(0)">View Feedback</a></div>
                                                </div><!--div-->
                                            </div><!--row-->
                                        </div><!--box-->
                                    % endfor
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- end of row -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.upcomingAssignmentsTabClick').on('click', function(){
            console.log("upcomingAssignmentsTabClick");
            var _this = $(this);
            _this.removeClass('non-active').addClass('active');
            $('.submittedAssignmentsTabClick').removeClass('active').addClass('non-active');
            $('.submittedAssignmentsTab').removeClass('active');
            $('.upcomingAssignmentsTab').addClass('active');
        });
        $('.submittedAssignmentsTabClick').on('click', function(){
            console.log("submittedAssignmentsTabClick");
            var _this = $(this);
            _this.removeClass('non-active').addClass('active');
            $('.upcomingAssignmentsTabClick').removeClass('active').addClass('non-active');
            $('.upcomingAssignmentsTab').removeClass('active');
            $('.submittedAssignmentsTab').addClass('active');
        });
        $('.assignmentBlockClick').on('click', function(){
            console.log('assignmentBlockClick');
            var _this = $(this);
            location.href = _this.attr('rel');
        });
    })
</script>