<%namespace name='static' file='/static_content.html'/>
<div role="tabpanel" class="tab-pane upcomingAssignmentsTab active" id="home">
    <div class="row">
        <div class="col-sm-12 mobile-pull">
            <article role="login">
                <div class="row">
                    <div class="col-sm-4 Coursebox">
                    <h4>Courses</h4>
                        <ul>
                            <li><div class="red1"></div><div>Projects</div></li>
                            <li><div class="blue1"></div><div>Data & decisions</div></li>
                            <li><div class="green1"></div><div>Communicating for impacts</div></li>
                            <li><div class="purple1"></div><div>Entrepreneurial leadership</div></li>
                        </ul>
                  </div>
                  
                  <div class="col-sm-8">
                    <div class="box red">
                        <div class="row">
                            <div class="col-sm-6">
                             <h6> Assignment Name</h6> 
                             <p>PR</p>
                             <h6>Monday, September 10</h6> 
                             <span>14:00</span>
                            </div><!--div-->
                            <div class="col-sm-6">
                             <div class="upcomingsigns"><img src="img/issue.jpg" alt="issue"></div>
                            </div><!--div-->
                        </div><!--row-->
                    </div><!--box-->
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- end of row -->
</div>