<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


<%page expression_filter="h"/>
##<%inherit file="main.html" />
<%namespace name='static' file='../../static_content.html'/>

<%!
from django.core.urlresolvers import reverse
%>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

    <section class="container" >

      <br><br>

         <ol class="breadcrumb">
          <li><a href="${marketing_link('ROOT')}">ALUx Platform</a></li>
          <li><a href="${reverse('skills_map:skills-hq')}">HQ</a></li>
          <li><a href="${reverse('skills_map:gradebook')}">Gradebook</a></li>

          <li class="active">${course.display_name}</li>
        </ol>



        <h1>Course - ${course.display_name}</h1>

            <hr style="padding:0px;height:3px;border:none;color:#eee;background-color:#eee;">


            <a type="button" class="btn btn-default" id="create-item-modal">
                <i class="fa fa-plus"></i> Add ALUx Assignment to Skills HQ
                ## Add ${item.get_child_type()._meta.verbose_name}
            </a>


            <a type="button" class="btn btn-primary" id="download-grade-sheet">
                <i class="fa fa-download"></i> Download Grade Sheet
            </a>


        <h2>Assignments</h2>
        % for i, assignment in enumerate(hq_assignments):
               <h3>${i+1}. <a href="${reverse('skills_map:assignment-detail', kwargs={'usage_id': str(assignment.assignment_id)})}">
                    ${assignment.name}
                </a>
               </h3>
        % endfor

    </section>

<div id="create-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add an Assignment</h4>
        </div>

      <div class="modal-body">
         <form action="${reverse('skills_map:add-assignment')}" method="post">
             <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

                  <div class="input-group">
                      <div class="form-group">
                          <label for="sel1">Select an ALUx assignment to link:</label>
                          <select class="form-control" name="assignment">
                              % for assignment in edx_assignments:
                                  <option value='
                                  {"assignment-name": "${assignment.display_name_with_default} (${assignment.sub_section.display_name_with_default})",
                                   "assignment-id": "${assignment.location}",
                                   "course-id": "${course_id}"}'>
                                    ${assignment.display_name_with_default} (${assignment.sub_section.display_name_with_default})
                                  </option>
                              % endfor

                          </select>
                      </div>

                    </div>

                <br>
                <br>
            <input class="btn btn-default pull-right" type="submit" value="Create">
            <br>
            <br>

         </form>
      </div>
    </div>
    </div>
</div>

<div id="download-gradesheet-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select cohort to download grade sheet</h4>
        </div>

      <div class="modal-body">
           % if cohorts:
               % for cohort in cohorts:
                   <button class="btn btn-default" id="gradesheet-download-${cohort.get('id')}"> ${cohort.get('name')} </button>
               % endfor
           % endif
      </div>
    </div>
    </div>
</div>

<script>
    $('#create-item-modal').click(function() {
        $('#create-modal').modal('show');
    });

    $('#download-grade-sheet').click(function() {
        $('#download-gradesheet-modal').modal('show');
    });
</script>


<script type="text/javascript">

    %if cohorts:
        % for cohort  in cohorts:
            <%
                cohort_id = cohort.get('id')
            %>

            $(document).on('click', '#gradesheet-download-${cohort.get('id')}', function(){

##                 const button = `<button type="button" class="btn btn-default" id="data-download-${item.get('id')}">
##                            <i class="fa fa-refresh fa-spin"></i>
##                            Preparing Most Recent Data
##                           </button>`
##
##                const old_button = `<button type="button" class="btn btn-default" id="data-download-${item.get('id')}">
##                            Download Most Recent Data
##                           </button>`
##
##                 $('#data-download-${item.get('id')}').replaceWith(button);

                window.open('${reverse("skills_map:course-grade-sheet-download",
                                   kwargs={"course_id": course_id, "cohort_id": cohort_id })}',
                                   "_self");
               setTimeout(function() {
##                    $('#data-download-${item.get('id')}').replaceWith(old_button);
               }, 10 * 1000);

            });

        % endfor

    %endif

</script>
