## mako

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


<%page expression_filter="h"/>
##<%inherit file="main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
from django.core.urlresolvers import reverse
%>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

    <style>
         .icon {
            width: 200px;
            height: 200px;
            padding: 10px;
        }

         .empty-nav-item{
             width: 200px;
         }

        .item-container {
            text-align:center;
        }

        .nav-item {
            display:inline-block;
            margin:3% 7%;
            padding:0.3%;
        }

        .item-icon {
            margin-bottom: 10px;

        }

        .item-label{
            color: dimgray;
            font-size: x-large;
            font-family: Helvetica;
        }

        h2{
            font-family: Helvetica;
        }


    </style>

    <section class="container" >
      <br><br>

         <ol class="breadcrumb">
          <li><a href="${marketing_link('ROOT')}">ALUx Platform</a></li>

          <li class="active">HQ</li>
        </ol>

    </section>


    <section class="container dashboard" id="dashboard-main">
        <div class="row">
            <div class="col-md-3">
                <h2>Staff HQ</h2>
##                 <hr style="padding:0px;height:3px;border:none;color:#eee;background-color:#eee;">
            </div>
        </div>


        <div class="item-container">
            <div class="nav-item">
                <a href="${reverse("skills_map:skills-tree")}">
                    <img class="icon item-icon" src="https://image.flaticon.com/icons/svg/523/523853.svg" alt="tree.png" />
                    <p class="item-label">Skills Tree</p>
                </a>
            </div>

            <div class="nav-item">
                <a href="${reverse("skills_map:gradebook")}">
                    <img class="icon item-icon" src="https://www.flaticon.com/premium-icon/icons/svg/124/124802.svg" alt="tree.png" />
                    <p class="item-label">Gradebook</p>
                </a>
            </div>

            <div class="nav-item">
                <a href="${reverse("skills_map:lo-bank")}">
                    <img class="icon item-icon" src="https://image.flaticon.com/icons/svg/138/138364.svg" alt="tree.png" />
                    <p class="item-label">LO Bank</p>
                </a>
            </div>

        </div>

        <div class="item-container">
            <div class="nav-item">
                <a href="#">
                    <img class="icon item-icon" src="https://www.flaticon.com/premium-icon/icons/svg/327/327843.svg" alt="tree.png" />
                    <p class="item-label">PCI Grouping</p>
                    <p class="item-label">(Coming Soon)</p>
                </a>
            </div>

            <div class="nav-item">
                <div>
                    <img class="icon item-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png" alt="tree.png" />
                    <p class="item-label"></p>
                </div>
            </div>

            <div class="nav-item">
                <div>
                    <img class="icon item-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png" alt="tree.png" />
                    <p class="item-label"></p>
                </div>
            </div>

        </div>


    </section>

