## <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
## <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
## <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
## <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


<%page expression_filter="h"/>
##<%inherit file="main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
from django.core.urlresolvers import reverse
%>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>


    <section class="container dashboard" id="dashboard-main">

      <br><br>
        <ol class="breadcrumb">
          <li><a href="${marketing_link('ROOT')}">ALUx Platform</a></li>
          <li><a href="${reverse('skills_map:skills-hq')}">HQ</a></li>
          <li class="active">Skills Tree</li>

        </ol>

      <h1>Skills Tree</h1><hr style="padding:0px;height:3px;border:none;color:#eee;background-color:#eee;">



        <a type="button" class="btn btn-default" id="create-programme-modal">
            <i class="fa fa-plus"></i> Add a Programme
        </a>

        <br><br>

        <h1>Current Programmes</h1>

            % for programme in programmes:
                <h3><a href="${reverse('skills_map:item', kwargs={'item_type': programme.item_type_slug, 'slug':programme.slug})}">${programme}</a></h3>
            % endfor


        <br><br>




    <div id="create-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a Programme</h4>
        </div>

      <div class="modal-body">

         <form action='${reverse('skills_map:add-item')}' method="post">
             <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
             <input type="hidden" name="item-type" value="education-programme">

             <label for="title">Programme Title</label>
              <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></span>
                  <input type="text" name="item-name" class="form-control"
                         placeholder="Programme Title" id="title">
              </div>

                      <br>
            <input class="btn btn-default pull-right" type="submit" value="Create">
            <br>

      </form>
      </div>

    </div>
  <br>


  </div>
</div>

<script>
            $('#create-programme-modal').click(function() {
                $('#create-modal').modal('show');
            });

            $('#delete-item-modal').click(function() {
                $('#delete-modal').modal('show');
            });
    </script>