<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>






<%page expression_filter="h"/>
##<%inherit file="main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
from django.core.urlresolvers import reverse
%>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>
    <script src="//d3js.org/d3.v3.min.js"></script>


<body>

    <section class="container" >
      <br><br>

         <ol class="breadcrumb">
          <li><a href="${marketing_link('ROOT')}">ALUx Platform</a></li>
          <li><a href="${reverse('skills_map:skills-hq')}">HQ</a></li>

          <li class="active">Skills Map Preview</li>
        </ol>

    </section>

    <section class="container dashboard" id="dashboard-main">
        <h1>Skills Map Previewer
        % if user:
            for <u>${user.email}</u>
        % endif
        </h1>

        % if programme:
            <h3>Selected Programme: <em>${programme}</em></h3>
        % endif

        % if message:
            ${message}
        % endif

        <h3>
            <form method="POST" enctype="multipart/form-data" action="">
                <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
                <br>
                <input id="autocomplete-email" name="email">
                <button class="btn btn-default" type="submit" value="Preview">
                    Preview
                </button>
            </form>
        </h3>

        	  <div id="chart"></div>

    </section>

    <br><br><br>

</body>

<script>
    $("#autocomplete-email").autoComplete({
    minChars: 1,
    source: function(term, suggest){
        term = term.toLowerCase();
        var choices = [
            % for u in users:
                '${u}',
            % endfor
        ];
        var matches = [];
        for (i=0; i<choices.length; i++)
            if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
        suggest(matches);
    }
});

</script>

% if user:
<script>
    <%include file="RadarChart.js" />
    <%include file="script.js" args="user_tree=user_tree" />
</script>
% endif
